.beerCard {
  width: 350px;
  height: 300px;
  padding: 20px;
}

.beerCard:hover {
  border: 1px solid #f7d40a88;
  cursor: pointer;
}

.cardImage {
  height: 30vh;
  object-fit: contain;
  object-position: 50% 0;
  margin: 5px;
}

.cardBody {
  text-align: center;
  vertical-align: middle;
}
