.beerCard {
  width: 360px;
}

.beerCard:hover {
  border: 1px solid #e6b70e;
  cursor: pointer;
  box-shadow: #e6b70ed8 0px 5px 15px;
}

.cardImage {
  height: 30vh;
  object-fit: contain;
  object-position: 50% 0;
  margin: 5px;
}

.cardBody {
  text-align: center;
  vertical-align: middle;
}
