.main {
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 960px) {
  .main {
    display: flex;
    flex-direction: column;

    max-height: none;
  }
}
