.wrapper {
  display: flex;
  align-content: space-between;
  margin: 10px;
  gap: 100px;
}
@media (max-width: 780px) {
  .wrapper {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 1250px) {
  .wrapper {
    flex-direction: column;
  }
}

.detailsImage {
  max-height: 60vh;
  object-fit: contain;
  object-position: 50% 0;
  margin: 5px;
  align-self: flex-end;
  flex: 1;
}
@media (max-width: 1250px) {
  .wrapper {
    flex-direction: column;
  }
  .detailsImage {
    height: 40vh;
  }
}

.ingredient {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin: 0 1vw;
}

@media (max-width: 600px) {
  .detailsImage {
    flex: none;
  }
  .beerCard {
    flex-direction: column;
  }
  .cardImage {
    height: 10vh;
  }

  .image-shadow-light {
    width: 215px;
    height: 28px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.7;
  }
  .image-shadow-dark {
    width: 215px;
    height: 28px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.7;
  }
}

.label {
  display: flex;
  justify-content: space-around;
}

.header {
  font-size: 42px;
  padding-bottom: 25px;
}

.subHeader {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: bold;
  background: #000000;
  vertical-align: middle;
  padding: 5px;
}

.categoryHeader {
  font-size: 18px;
  display: flex;
  background: rgba(128, 128, 128, 0.295);
  height: 25px;
  margin: 5px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.number-values-Wrapper {
  gap: 100px;
}

.number-value {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-shadow-light {
  width: 430px;
  height: 56px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.7;
}
.image-shadow-dark {
  width: 430px;
  height: 56px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
}

@media (max-width: 600px) {
  .image-shadow-light {
    width: 215px;
    height: 28px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.7;
  }
  .image-shadow-dark {
    width: 215px;
    height: 28px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.7;
  }
}
