.button {
  background: none;
  text-decoration: none;
  border: none;
  color: var(--icon-color);
}
[data-bs-theme='dark'] {
  --icon-color: #ffffff;
}
[data-bs-theme='light'] {
  --icon-color: #000000;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 18px;
}

.offcanvas {
  width: 200px;
}
